@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";





@layer base {
  body {

    font-family: "Inter", system-ui, sans-serif;
    letter-spacing: -0.01em;
    font-feature-settings: "cv02", "cv03", "cv04";
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


h1,
h2,
h3 {
  letter-spacing: -0.02em;
  font-weight: 600;
}


.stroke-text {
  color: transparent;
  -webkit-text-fill-color: transparent;
  /* FIX */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #99B81B;
  text-stroke-width: 2px;
  text-stroke-color: #99B81B;
}